<body>

    <div class="container mt-5">
        <h3>Data Penjual</h3>
        <a href="/penjual/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <h3>Data Barang</h3>
        <a href="/barang/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr/>
        <table class="table table-sriped table-hover">
            <thead>
                <tr>
                    <td>{{ .Nama}}</td>
                    <td>{{ .NoTelepon}}</td>
                    <td>{{ .Alamat}}</td>
                    
                    
                </tr>
            </thead>
            <tbody>
              
                {{ range .penjual}}
                    <tr>
                        <td>{{ .Nama}}</td>
                        <td>{{ .Jenis}}</td>
                        <td>{{ .Harga }}</td>
                        <td>{{ .Stok }}</td>
                        
                     
                        
                        <td>
                            <a href="/penjual/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/penjual/delete?id={{.Id}}" onclick="return confirm('Aapakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                            <a href="/penjual/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/penjual/delete?id={{.Id}}" onclick="return confirm('Aapakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                {{ end }}
